<ion-header>
	<ion-toolbar>
		<ion-title>Paypal</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-subtitle>Producto</ion-card-subtitle>
			<ion-card-title>Consulta</ion-card-title>
			<ion-row>
				<ion-col>
					Costo
				</ion-col>
				<ion-col>
					{{currencyIcon}}{{paymentAmount}}
				</ion-col>
			</ion-row>
		</ion-card-header>
		<ion-card-content>
			<ion-button expand="full" color="success" (click)="payWithPaypal()"
				>Pagar</ion-button
			>
		</ion-card-content>
	</ion-card>

	<ion-card class="welcome-card" *ngIf="paymentSuccess">
		<ion-card-content>
			<ion-label>Pago realizado correctamente</ion-label>
		</ion-card-content>
	</ion-card>

	<ion-card class="welcome-card" *ngIf="paymentError">
		<ion-card-content>
			<ion-label>Error al realizar el pago</ion-label>
		</ion-card-content>
	</ion-card>
</ion-content>
